<!DOCTYPE html>
<html th:attr="lang=${lang}" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{fragments/resources :: head}"></head>
<body>
<header th:insert="~{fragments/header :: new-quiz-header}"></header>
<div th:insert="~{fragments/resources :: warning}"></div>
	<section class="py-11 bg-light-gradient border-bottom border-white border-5">
        <div class="bg-holder overlay overlay-light" style="background-image:url(assets/img/gallery/header-bg.png);background-size:cover;">
        </div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row flex-center">
            <div class="col-12 mb-10">
              <div class="d-flex align-items-center flex-column">
               	<h1 class="fw-bold" th:text="${quiz.getTitle()}"></h1>
			   </div>
              </div>
            </div>
          </div>
    </section>

<section class="py-0" id="header" style="margin-top: -25rem !important;">
	  <div class="container">
        <div class="row flex-center">
            <div class="col-12">
                <div class="tab-content" id="questionContent">
                    <div th:each="pregunta, preguntaIndex : ${quiz.getQuestions()}" class="tab-pane fade" th:id="'question' + ${pregunta.getId()}" role="tabpanel" aria-labelledby="'question' + ${pregunta.getId()} + '-tab'" th:class="${pregunta.getId() == preguntaActual} ? 'tab-pane fade show active' : 'tab-pane fade'">
                         <div th:if="${pregunta.getImage().size() == 1}" th:insert="~{fragments/questions :: singleImage}"></div>
                         <div th:if="${pregunta.getImage().size() > 1}" th:insert="~{fragments/questions :: multiImage}"></div>
					</div>
                 </div>
             </div>
             <div th:insert="~{fragments/resources :: end}"></div>
         </div>
        </div>
</section>

    <div th:insert="~{fragments/resources :: scripts}"></div>
    
</body>
</html>