<!DOCTYPE html>
<html th:attr="lang=${lang}" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{fragments/resources :: head}"></head>
<body>
<header th:insert="~{fragments/header :: new-header}"></header>
<section class="py-11 bg-light-gradient border-bottom border-white border-5">
        <div class="bg-holder overlay overlay-light" style="background-image:url(assets/img/gallery/header-bg.png);background-size:cover; opacity: 0.5;">
        </div>
        <div th:insert="~{fragments/header :: emailMessage}"></div>
        <div class="container">
          <div class="row flex-center">
            <div class="col-12 mb-10">
              <div class="d-flex align-items-center flex-column">
               	<h1 class="fw-bold" th:text="#{home.description}"></h1>
               	<h1 class="fw-normal" th:text="#{home.quiz.select}"></h1>
		        <h2 th:unless="${jsonQuiz}" class="mt-5" th:text="#{home.quiz.empty}"></h2>
			   </div>
              </div>
            </div>
          </div>
      </section>
      
            <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-0" id="header" style="margin-top: -23rem !important;">

        <div class="container">
		  <div class="row g-2 flex-center">
       		<div class="col-md-3" th:each="entry : ${jsonQuiz}">
			    <form th:action="${isAuthenticated} ? '/quizDescription' : '/anonymousData'" method="POST">
			        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			        <input type="hidden" name="archivo" th:value="${entry.key}" />
			            <div class="card card-span text-white">
			               <img class="img-fluid" th:src="${entry.value.getImage().get(0)}" width="490" alt="..." /> 
			                <div class="card-img-overlay d-flex flex-center">
			                    <button type="submit" class="btn btn-lg btn-light btn-md btn-sm" th:text="${entry.value.getTitle()}"></button>
			                </div>
			            </div>
			     </form>
			  </div>
			  <div th:insert="~{fragments/resources :: end}"></div>
			</div>
		</div>
        <!-- end of .container-->

      </section>
    
    <div th:insert="~{fragments/resources :: scripts}"></div>
    
    
</body>
</html>

