<nav th:fragment="new-header" class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
  <div class="container"><a class="navbar-brand d-inline-flex" href="/"><img class="d-inline-block" src="assets/img/gallery/logo.png" alt="logo" /><span class="text-1000 fs-0 fw-bold ms-2">RiskRealApp</span></a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
      <ul class="navbar-nav dropleft ms-auto">
       	<li th:insert="~{fragments/navoptions :: langOptions}"></li>
	    <div th:insert="~{fragments/navoptions :: isAuthenticated}"></div>
	    <div th:insert="~{fragments/navoptions :: isAnonymous}"></div>
      </ul>
    </div>
  </div>
</nav>

<nav th:fragment="new-quiz-header" class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
  <div class="container">
  	<a class="navbar-brand d-inline-flex" onclick="showAdvise()" href="#">
  		<img class="d-inline-block" src="assets/img/gallery/logo.png" alt="logo" />	
  		<span class="text-1000 fs-0 fw-bold ms-2">RiskRealApp</span>
  	</a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
      <ul class="navbar-nav dropleft ms-auto">
	    <div th:insert="~{fragments/navoptions :: isAuthenticatedQuiz}"></div>
	    <div th:insert="~{fragments/navoptions :: isAnonymousQuiz}"></div>
      </ul>
    </div>
  </div>
</nav>



<div th:fragment="scripts">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Añade aquí otros scripts necesarios -->
</div>

<div th:fragment="emailMessage"  th:if="${emailMessage}">
    <div class="row">
        <div class="col-12">
        	<div th:class="'alert-dismissible fade show fw-bold w-100 alert alert-' + ${type}" style="text-align: center;" role="alert">
            	<span th:text="${emailMessage}" style="text-align: center;"></span>
		        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		            <span aria-hidden="true">&times;</span>
		        </button>
          </div>
    </div>
</div>

<div th:fragment="quizMessage"  th:if="${message}">
    <div class="row">
        <div class="col-12">
        	<div th:class="'alert-dismissible fade show fw-bold w-100 alert alert-' + ${type}" style="text-align: center;" role="alert">
            	<span th:text="#{'load.quiz.' + ${message}} + ${filedeleted}" style="text-align: center;"></span>
		        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		            <span aria-hidden="true">&times;</span>
		        </button>
          </div>
    </div>
</div>

