<!DOCTYPE html>
<html th:attr="lang=${lang}" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
</head>
<body>

	<div th:fragment="scripts">
	    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	    <script src="vendors/@popperjs/popper.min.js"></script>
	    <script src="vendors/bootstrap/bootstrap.min.js"></script>
	    <script src="vendors/is/is.min.js"></script>
	    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
	    <script src="vendors/feather-icons/feather.min.js"></script>
	    <script>
	      feather.replace();
	    </script>
	    <script src="assets/js/theme.js"></script>
	    <script>
			function updateBackgroundColor(selectElement) {
			    // Obtener el índice de la opción seleccionada actualmente
			    var selectedIndex = selectElement.selectedIndex;
			    
			    // Obtener el valor de la opción seleccionada actualmente
			    var selectedValue = selectElement.options[selectedIndex].value;
			    
			    // Obtener el valor predeterminado de la opción
			    var defaultValue = selectElement.options[selectedIndex].defaultSelected;
			    
			    // Si el valor seleccionado es igual al valor predeterminado, restablecer el color de fondo
			    if (selectedValue == defaultValue) {
			        selectElement.style.backgroundColor = '';
			    } else {
			        // Si no, establecer el color de fondo en amarillo
			        selectElement.style.backgroundColor = 'yellow';
			    }
			}
		</script>
		<script>
	        function previousQuestion() {
	            var activeTab = $('.nav-link.active');
	            var prevTab = activeTab.parent().prev().children('.nav-link');
	            if (prevTab.length > 0) {
	                prevTab.tab('show');
	            }
	        }
	
	        function nextQuestion() {
	            var activeTab = $('.nav-link.active');
	            var nextTab = activeTab.parent().next().children('.nav-link');
	            if (nextTab.length > 0) {
	                nextTab.tab('show');
	            }
	        }
	        function showAdvise() {
	            $('#avisoSesion').modal('show'); // Mostrar el aviso con el cierre de la sesión actual
	        }
	        
	        function closeAdvise() {
	            $('#avisoSesion').modal('hide'); // Mostrar el aviso con el cierre de la sesión actual
	        }
	
	        function toHome() {
	            window.location.href = "/"; // Redirigir a la página de inicio
	        }

    	</script>
	</div>
	
	<div th:fragment="head">
	    <meta charset="UTF-8">
	   	<meta name="_csrf" th:content="${_csrf.token}" />
	    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="theme-color" content="#ffffff">
	       
	    <!-- Bootstrap CSS -->
	    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"> -->
	    <style>
	        .container-fluid {
			    display: flex;
			    flex-direction: column;
			    min-height: 100vh;
			}
	    </style>	
	    <!-- ===============================================-->
	    <!--    Favicons-->
	    <!-- ===============================================-->
	    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicons/favicon.ico">
	    <link rel="manifest" href="assets/img/favicons/manifest.json">
	    <link href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css" rel="stylesheet"/>
	    <!-- ===============================================-->
	    <!--    Stylesheets-->
	    <!-- ===============================================-->
	    <link href="assets/css/theme.css" rel="stylesheet" />
	</div>
	
	
<div th:fragment="firstquestion" class="col-12 text-center">
    <div class="d-flex justify-content-center">
		 <button disabled class="btn btn-outline-primary mx-2" type="submit" name="accion" value="prev" th:text="#{quiz.prev.question}"></button>
		 <button  class="btn btn-outline-primary mx-2" type="submit" name="accion" value="next" th:text="#{quiz.next.question}"></button>
		 <button disabled class="btn btn-outline-success mx-2" type="submit" name="accion" value="resultados" th:text="#{quiz.send.results}"> </button>
    </div>
</div>

 	
<div th:fragment="continuequestion" class="col-12 text-center">
    <div class="d-flex justify-content-center">
        <button class="btn btn-outline-primary mx-2" type="submit" name="accion" value="prev" th:text="#{quiz.prev.question}"></button>
        <button class="btn btn-outline-primary mx-2" type="submit" name="accion" value="next" th:text="#{quiz.next.question}"></button>
        <button disabled class="btn btn-outline-success mx-2" type="submit" name="accion" value="resultados" th:text="#{quiz.send.results}"> </button>
    </div>
</div>

<div th:fragment="lastquestion" class="col-12 text-center">
    <div class="d-flex justify-content-center">
		  <button class="btn btn-outline-primary mx-2" type="submit" name="accion" value="prev" >Previous</button>
		  <button disabled class="btn btn-outline-primary mx-2" type="submit" name="accion" value="next" >Next</button>
		 <button  class="btn btn-outline-success mx-2" type="submit" name="accion" value="resultados" >Enviar resultados</button>
    </div>
</div>

<div th:fragment="onequestion" class="col-12 text-center">
    <div class="d-flex justify-content-center">
		  <button disabled class="btn btn-outline-primary mx-2" type="submit" name="accion" value="prev" >Previous</button>
		  <button disabled class="btn btn-outline-primary mx-2" type="submit" name="accion" value="next" >Next</button>
		  <button  class="btn btn-outline-success mx-2" type="submit" name="accion" value="resultados" >Enviar resultados</button>
    </div>
</div>


<div th:fragment="warning" class="modal fade border border-5" id="avisoSesion" tabindex="-1" role="dialog" aria-labelledby="avisoModalLabel" aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered" role="document">
   <div class="modal-content ">
     <div class="modal-header ">
       <h5 class="modal-title" id="avisoModalLabel">¿Desesas salir del cuestionario?</h5>
       <button type="button" class="close" onclick="closeAdvise()" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="fw-bold modal-body border-danger border-5">
       En caso de confirmar perderás el progreso actual.
     </div>
     <div class="modal-footer text-center justify-content-center">
       <button type="button" class="btn btn-lg btn-danger btn-md btn-sm" onclick="closeAdvise()">Cancelar</button>
       <button type="button" class="btn btn-lg btn-success btn-md btn-sm" onclick="toHome()">Confirmar</button>
     </div>
   </div>
 </div>
</div>

    <div th:fragment="end" class="container mt-7">
      <div class="row flex-center">
        <div class="col-12 col-lg-12 mb-12 text-center">
          <h5 class="lh-lg fw-bold text-1000" th:text="#{end.company.info}"></h5>
          <ul class="list-unstyled">
            <li class="lh-lg"><a class="text-800 text-decoration-none" href="#!" th:text="#{end.about}"></a></li>
          </ul>
        </div>
       </div>
      </div>



</body>
</html>