<!DOCTYPE html>
<html th:attr="lang=${lang}" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{fragments/resources :: head}"></head>
<body>
<header th:insert="~{fragments/header :: new-header}"></header>
<section class="py-11 bg-light-gradient border-bottom border-white border-5">
        <div class="bg-holder overlay overlay-light" style="background-image:url(assets/img/gallery/header-bg.png);background-size:cover;">
        </div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row flex-center">
            <div class="col-12 mb-10">
              <div class="d-flex align-items-center flex-column">
               	<h1 class="fw-bold" th:text="#{change.text}"></h1>
			   </div>
              </div>
            </div>
          </div>
      </section>

<section class="py-0" id="header" style="margin-top: -25rem !important;">
    <div class="container">
        <div class="row g-3 flex-center">
            <div class="col-md-6">
              <div class="d-flex align-items-center flex-column justify-content-center text-center"> 
		      <form class="form-signin" method="post" action="/changePassword">
		        <p>
		          <label for="email" class="sr-only" th:text=#{change.email}></label>
		          <input type="email" id="username" name="username" class="form-control" th:value="${email}" disabled>
		        </p>
		        <p>
		          <label for="passwordNew" class="sr-only" th:text=#{register.password}></label>
		          <input type="password" id="passwordNew" name="passwordNew" class="form-control" th:placeholder="#{change.password}" required>
		        </p>
				<input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
				<input name="email" th:value="${email}" type="hidden">
				<button class="btn btn-lg btn-primary btn-md btn-sm btn-block" type="submit" th:text="#{change.title}"></button>
		      </form>
		      </div>
           </div>
        </div>
    </div>
    <!-- end of .container-->

</section>

<div th:insert="~{fragments/resources :: scripts}"></div>

</html>