<!DOCTYPE html>
<html th:attr="lang=${lang}" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{fragments/resources :: head}"></head>
<body>
	<header th:insert="~{fragments/header :: new-header}"></header>
	<section class="py-11 bg-light-gradient border-bottom border-white border-5">
        <div class="bg-holder overlay overlay-light" style="background-image:url(assets/img/gallery/header-bg.png);background-size:cover;">
        </div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row flex-center">
            <div class="col-12 mb-10">
             <div class="d-flex align-items-center flex-column">
		 		<h2 class="fw-bold" th:text="#{resetPassword.title}"></h2>
 		     </div>
           </div>
          </div>
        </div>
    </section>
    
    <section class="py-0" id="header" style="margin-top: -27rem !important;">
    <div class="container">
        <div class="row g-3 flex-center">
            <div class="col-md-6">
              <div class="d-flex align-items-center flex-column justify-content-center text-center"> 
			    <form id="emailForm" action="/send-email" method="POST">
			    	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			    	 <div class="form-group">
				        <label for="to" th:text="#{home.email.to.info}"></label><br>
				        <input class="form-control form-control-lg form-control-md border-primary rounded" type="email" name="to" id="to"  required />
				        <input type="hidden" name="subject" id="subject" th:value="#{home.email.subject.info}" />
				        <input type="hidden" id="body"  name="body" th:value="#{home.email.body.info}" />
				      </div>
			        <button class="btn btn-primary btn-lg btn-md btn-sm btn-block" type="submit" th:value="#{home.sendEmail}" th:text="#{home.sendEmail}"></button>
			    </form>
		      </div>
           </div>
        </div>
    </div>
    <!-- end of .container-->

</section>
</body>
	<div th:insert="~{fragments/resources :: scripts}"></div>
</html>