<!DOCTYPE html>
<html th:attr="lang=${lang}" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{fragments/resources :: head}"></head>
<body>
<header th:insert="~{fragments/header :: new-header}"></header>
<section class="py-11 bg-light-gradient border-bottom border-white border-5">
        <div class="bg-holder overlay overlay-light" style="background-image:url(assets/img/gallery/header-bg.png);background-size:cover;">
        </div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row flex-center">
            <div class="col-12 mb-10">
              <div class="d-flex align-items-center flex-column">
               	<h1 class="fw-bold" th:text="#{rol.management.title}"></h1>
			   </div>
              </div>
            </div>
          </div>
      </section>
      
            <!-- ============================================-->
      <!-- <section> begin ============================-->
<section class="py-0" id="header" style="margin-top: -27rem !important;">

    <div class="container">
        <div class="row g-3 flex-center">
            <div class="col-md-12">
                <form id="mainForm" action="/updateProfile" method="POST">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                </form>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th th:text="#{rol.management.email}"></th>
                            <th th:text="#{rol.management.profile}">Rol Actual</th>
                            <th th:text="#{rol.management.profile.new}">Nuevo Rol</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="profile : ${profileList}">
                            <td th:text="${profile.getEmail()}"></td>
                            <td th:text="${profile.getProfile()}"></td>
                            <td>
                                <input form="mainForm" type="hidden" name="email" th:value="${profile.getEmail()}" />
                                <input th:if="${adminuser} == ${profile.getEmail()}" form="mainForm" type="hidden" name="newProfile" th:value="${profile.getProfile()}" />
                                <select disabled th:if="${adminuser} == ${profile.getEmail()}" name="newProfile2" class="form-select">
                                    <option th:value="${profile.getProfile()}" th:text="${profile.getProfile()}"></option>
                                </select>
                                <select th:unless="${adminuser} == ${profile.getEmail()}" form="mainForm" name="newProfile" class="form-select" style="background-color: white;" onchange="this.style.backgroundColor = (this.value == this.options[this.selectedIndex].defaultSelected) ? 'white' : 'yellow';">
                                    <option value="USER" th:selected="${profile.getProfile()} == 'USER'">USER</option>
                                    <option value="ADMIN" th:selected="${profile.getProfile()} == 'ADMIN'">ADMIN</option>
                                </select>
                            </td>
 
                        </tr>
                    </tbody>
                </table>
               	<div class="d-flex justify-content-center mt-3">
                        <button type="submit" form="mainForm" class="btn btn-success btn-lg btn-md btn-sm">Actualizar</button>
                </div>
            </div>
            <div th:insert="~{fragments/resources :: end}"></div>
        </div>
    </div>
    <!-- end of .container-->

</section>


    <div th:insert="~{fragments/resources :: scripts}"></div>
    
    
</body>
</html>