<!DOCTYPE html>
<html th:attr="lang=${lang}" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text=#{change.title}></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css" rel="stylesheet"/>
    <style>
   	      form {
         	width: 400px;
	      	padding: 40px;
	      	margin: 30px auto;
	      }
         container-fluid {
		    display: flex;
		    flex-direction: column;
		    min-height: 100vh;
		 }
	 </style>
  </head>
  <body>
     <div class="container-fluid ">
     <header th:insert="~{fragments/header :: main-header}"></header>
      <form class="form-signin" method="post" action="/changePass">
        <h2 class="form-signin-heading" th:text="#{change.text}"></h2>
        <p>
          <label for="username" class="sr-only" th:text=#{change.passwordAct}></label>
          <input type="password" id="passwordAct" name="passwordAct" class="form-control" placeholder="passwordAct" required>
        </p>
        <p>
          <label for="password" class="sr-only" th:text=#{change.passwordNew}></label>
          <input type="password" id="passwordNew" name="passwordNew" class="form-control" placeholder="passwordNew" required>
        </p>
		<input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
		<input name="email" th:value="${email}" type="hidden">
        <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{header.login}"></button>
      </form>
	</div>
	<div th:insert="~{fragments/header :: scripts}"></div>
</body>
</html>