<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar Correo Electrónico</title>
</head>
<body>
    <h2>Enviar Correo Electrónico</h2>
    <form id="emailForm">
        <label for="to">Para:</label>
        <input type="email" id="to" placeholder="Correo electrónico del destinatario" required><br><br>

        <label for="subject">Asunto:</label>
        <input type="text" id="subject" placeholder="Asunto" required><br><br>

        <label for="body">Mensaje:</label><br>
        <textarea id="body" placeholder="Cuerpo del mensaje" required></textarea><br><br>

        <button type="submit">Enviar correo electrónico</button>
    </form>

    <script>
        document.getElementById("emailForm").addEventListener("submit", function(event) {
            event.preventDefault();
            
            var to = document.getElementById("to").value;
            var subject = document.getElementById("subject").value;
            var body = document.getElementById("body").value;

            var formData = {
                to: to,
                subject: subject,
                body: body
            };

            fetch('/sendEmail', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
            .then(response => {
                if (response.ok) {
                    alert("Correo electrónico enviado correctamente.");
                } else {
                    alert("Error al enviar el correo electrónico.");
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert("Error al enviar el correo electrónico.");
            });
        });
    </script>
</body>
</html>
