<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- Integra Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        .container-fluid {
		    display: flex;
		    flex-direction: column;
		    min-height: 100vh;
		}
    </style>
</head>
<body>
    <div class="container-fluid bg-dark text-white">
        <!-- Barra de navegación -->
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Home</a>
        </nav>
        <h1 class="mt-5">Selecciona un archivo JSON:</h1>
        <form action="/quiz/startQuiz" method="post">
            <div class="form-group">
                <select class="form-control" name="archivo">
                    <option th:each="file : ${jsonFiles}" th:value="${file}" th:text="${file}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Acceder al cuestionario</button>
        </form>
        
	    <h2>Enviar Correo Electrónico</h2>
	    <form id="emailForm">
	        <label for="to">Para:</label>
	        <input type="email" id="to" placeholder="Correo electrónico del destinatario" required><br><br>
	
	        <label for="subject">Asunto:</label>
	        <input type="text" id="subject" placeholder="Asunto" required><br><br>
	
	        <label for="body">Mensaje:</label><br>
	        <textarea id="body" placeholder="Cuerpo del mensaje" required></textarea><br><br>
	
	        <button type="submit">Enviar correo electrónico</button>
	    </form>
    </div>
    


    <!-- Integra Bootstrap JS al final del body si necesitas componentes interactivos -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script>
        document.getElementById("emailForm").addEventListener("submit", function(event) {
            event.preventDefault();
            
            var to = document.getElementById("to").value;
            var subject = document.getElementById("subject").value;
            var body = document.getElementById("body").value;

            var formData = {
                to: to,
                subject: subject,
                body: body
            };

            fetch('/send-email', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
            .then(response => {
                if (response.ok) {
                    alert("Correo electrónico enviado correctamente.");
                } else {
                    alert("Error al enviar el correo electrónico.");
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert("Error al enviar el correo electrónico.");
            });
        });
    </script>
    
</body>
</html>

