<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- Integra Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        .container-fluid {
		    display: flex;
		    flex-direction: column;
		    min-height: 100vh;
		}
    </style>
</head>
<body>
    <div class="container-fluid bg-dark text-white">
        <!-- Barra de navegación -->
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Home</a>
        </nav>
        <h1 class="mt-5">Selecciona un archivo JSON:</h1>
        <form action="/quiz/startQuiz" method="post">
            <div class="form-group">
                <select class="form-control" name="archivo">
                    <option th:each="file : ${jsonFiles}" th:value="${file}" th:text="${file}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Acceder al cuestionario</button>
        </form>
    </div>

    <!-- Integra Bootstrap JS al final del body si necesitas componentes interactivos -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</body>
</html>

