<!DOCTYPE html>
<html th:attr="lang=${lang}" xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" >
  </head>
  <body>
     <div class="container">
      <form class="form-signin" method="post" action="/login">
        <h2 class="form-signin-heading" th:text="#{login.text}"></h2>
        <p>
          <label for="username" class="sr-only">Username</label>
          <input type="email" id="username" name="username" class="form-control" placeholder="Username" required>
        </p>
        <p>
          <label for="password" class="sr-only">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </p>
		<input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
        <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{header.login}"></button>
      </form>
	</div>
</body>
</html>