<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'Pregunta ' + ${pregunta.getId()}"></title>
</head>
<body>
    <h2 th:text="'Pregunta ' + ${pregunta.getId()}"></h2>
    <p th:text="${pregunta.getDescription()}"></p>

    <th:block th:switch="${pregunta.getSkill()}">
        <th:case value="TEXTO">
            <input type="text" name="respuesta" th:id="${pregunta.getId()} + '-respuesta'" />
        </th:case>
        <th:case value="OPCION_MULTIPLE">
            <ul>
                <li th:each="respuesta : ${pregunta.getAnswers()}">
                    <input type="radio" name="respuesta" th:id="${pregunta.getId()} + '-respuesta-' + ${respuesta.getId()}" th:value="${respuesta.getValue()}" />
                    <label th:for="${pregunta.getId()}-respuesta-${pregunta.getId}" th:text="${respuesta.getText()}"></label>
                </li>
            </ul>
        </th:case>
    </th:block>

</body>

<script>
  const preguntaJson = getUrlParameter("pregunta");
  const mapper = new ObjectMapper();
  const pregunta = mapper.readValue(preguntaJson, Question.class); // Reemplaza con tu clase de pregunta
</script>

</html>
