<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
	    .scrollable {
	        overflow-y: auto;
	        max-height: 80vh; 
	    }
	    .container-fluid {
		    display: flex;
		    flex-direction: column;
		    min-height: 100vh;
		}
    </style>
</head>
<body>
    <div class="container-fluid bg-dark text-white">
        <!-- Barra de navegación -->
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Home</a>
        </nav>

        <!-- Título del cuestionario -->
        <h1 th:text="${cuestionario.getTitle()}" class="mt-4"></h1>
        
        <!-- Espacio en blanco para la descripción del cuestionario -->
        <div class="mb-4">Primer cuestionario de ejemplo</div>

        <div class="row">
            <!-- Lista vertical de preguntas -->
            <div class="col-3 col-md-3 scrollable">
                <ul class="nav flex-column nav-pills" id="questionTabs" role="tablist">
                    <li class="nav-item" th:each="pregunta : ${cuestionario.getQuestions()}">
                        <a class="nav-link" th:id="'question' + ${pregunta.getId()} + '-tab'" data-toggle="pill" th:href="'#question' + ${pregunta.getId()}" 
                            role="tab" th:text="'P'+${pregunta.getId()}" th:class="${pregunta.getId() == 1} ? 'nav-link active' : 'nav-link'" aria-selected="${pregunta.getId() == 1}"></a>
                    </li>
                </ul>
            </div>

            <!-- Contenido de las preguntas -->
            <div class="col-9 col-md-9">
                <div class="tab-content" id="questionContent">
                    <div th:each="pregunta, preguntaIndex : ${cuestionario.getQuestions()}" class="tab-pane fade" th:id="'question' + ${pregunta.getId()}" role="tabpanel" aria-labelledby="'question' + ${pregunta.getId()} + '-tab'" th:class="${pregunta.getId() == 1} ? 'tab-pane fade show active' : 'tab-pane fade'">
                        <h2 th:text="${pregunta.getDescription()}">Question 1</h2>
						<form action="/quiz/saveAnswer" method="post">
						  <input type="hidden" name="preguntaId" th:value="${pregunta.getId()}">
						  <div th:each="respuesta : ${pregunta.getAnswers()}">
						    <input type="radio" th:name="respuestaSeleccionada" th:value="${respuesta.getValue()}" th:checked="${respuesta.getText() != null && respuesta.getText().equals('Si')}">
						    <label th:for="'respuesta_' + ${pregunta.getId()}" th:text="' ' + ${respuesta.getText()}"></label><br>
						  </div>
						  <button type="button" onclick="nextQuestion()">Siguiente pregunta</button>
						</form>
                    </div>
                </div>
                
                
                <!-- Botones de navegación -->
                <div class="mt-3">
                    <button class="btn btn-primary mr-2" onclick="previousQuestion()">Anterior</button>
                    <button class="btn btn-primary" onclick="nextQuestion()">Siguiente</button>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function previousQuestion() {
            var activeTab = $('.nav-link.active');
            var prevTab = activeTab.parent().prev().children('.nav-link');
            if (prevTab.length > 0) {
                prevTab.tab('show');
            }
        }

        function nextQuestion() {
            var activeTab = $('.nav-link.active');
            var nextTab = activeTab.parent().next().children('.nav-link');
            if (nextTab.length > 0) {
                nextTab.tab('show');
            }
        }
    </script>
</body>
</html>
