<!DOCTYPE html>
<html th:attr="lang=${lang}" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{fragments/resources :: head}"></head>
<body>
<header th:insert="~{fragments/header :: new-other-header}"></header>
<section class="py-11 bg-light-gradient border-bottom border-white border-5">
        <div class="bg-holder overlay overlay-light" style="background-image:url(assets/img/gallery/header-bg.png);background-size:cover;">
        </div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row flex-center">
            <div class="col-12 mb-10">
              <div class="d-flex align-items-center flex-column">
			    <h3 th:text="#{final.score} + ' ' + ${resultado}  + '/' + ${max}"></h3>			  	
				</div>
              </div>
              <div th:insert="~{fragments/resources :: end}"></div>
            </div>
          </div>
      </section>

	<div th:insert="~{fragments/resources :: scripts}"></div>
	
</head>