<!DOCTYPE html>
<html th:attr="lang=${lang}" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{fragments/resources :: head}"></head>
<body>
<header th:insert="~{fragments/header :: new-header}"></header>
	<section class="py-11 bg-light-gradient border-bottom border-white border-5">
        <div class="bg-holder overlay overlay-light" style="background-image:url(assets/img/gallery/header-bg.png);background-size:cover;"></div>
        <!--/.bg-holder-->
        <div class="container">
          <div class="row flex-center">
            <div class="col-12 mb-10">
              <div class="d-flex align-items-center flex-column">
              	<h1 class="fw-bold" th:text="#{anonymous.data.title}"></h1>  
				</div>
              </div>
            </div>
          </div>
      </section>
      
      <section class="py-0" id="header" style="margin-top: -23rem !important;">
        <div class="container">
		  <div class="row g-2 flex-center">
       		<div class="col-md-6">
       			<div class="d-flex align-items-center flex-column justify-content-center text-center"> 
					<form id="form" action="/anonymousQuiz" method="POST" th:object="${user}">
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					    <div class="form-group">
					      <label for="gender" th:text="#{register.gender}"></label>
					      <br />
					        <div class="input-group">
					            <i class="fa fa-venus-mars" aria-hidden="true"></i>
					            <select class="form-control w-50"  id="gender" th:field="*{gender}" required>
					                <option value="male" th:text="#{register.gender.masc}" th:selected="${user.getGender()} == 'male'"></option>
					                <option value="female" th:text="#{register.gender.fem}" th:selected="${user.getGender()} == 'female'"></option>
					                <option value="no-binary" th:text="#{register.gender.nobinary}" th:selected="${user.getGender()} == 'no-binary'"></option>
					                <option value="other" th:text="#{register.gender.other}" th:selected="${user.getGender()} == 'other'"></option>
					            </select>
					        </div>
					      </div>  
					    <div class="form-group">
					      <label for="age" th:text="#{register.age}"></label>
					      <br />
					        <div class="input-group">
					            <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
					            <select class="form-control" id="age" th:field="*{age}" required>
					                <option value="18-25" th:text="#{register.age.range1}" th:selected="${user.getAge()} == '18-25'"></option>
									<option value="26-35" th:text="#{register.age.range2}" th:selected="${user.getAge()} == '26-35'"></option>
									<option value="36-45" th:text="#{register.age.range3}" th:selected="${user.getAge()} == '36-45'"></option>
									<option value="46-55" th:text="#{register.age.range4}" th:selected="${user.getAge()} == '46-55'"></option>
									<option value="56-65" th:text="#{register.age.range5}" th:selected="${user.getAge()} == '56-65'"></option>
									<option value=">65" th:text="#{register.age.range6}" th:selected="${user.getAge()} == '>65'"></option>
					            </select>
					        </div>
					      </div>
					    <div class="form-group">
					      <label for="rol" th:text="#{register.rol}"></label>
					      <br />
					        <div class="input-group">
					            <i class="fa fa-briefcase" aria-hidden="true"></i>
					            <select  class="form-control" id="rol" th:field="*{rol}" required>
					                <option value="manager" th:text="#{register.rol.manager}" th:selected="${user.getRol()} == 'manager'"></option>
					                <option value="employee" th:text="#{register.rol.employee}" th:selected="${user.getRol()} == 'employee'"></option>
					                <option value="other" th:text="#{register.rol.other}" th:selected="${user.getRol()} == 'other'"></option>
					            </select>
					        </div>
					      </div>
					   <button type="submit" class="btn btn-lg btn-primary btn-md btn-sm" th:text="#{quiz.start.button}"></button>
					</form>
				</div>
              </div>
            </div>
            </div>
      </section>
      
</body>
</html>